@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Delius&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-uno: white;
    --color-dos: black;
    --color-tres: #F3F5FC;
    --color-cuatro: #609ED4;
    --color-cinco: yellowgreen;
    --color-seis: crimson;
    --color-siete: #ADB5BD;
    --fuente-uno: "Open Sans", sans-serif;
    --fuente-dos: "Lato", sans-serif;
    --fuente-tres: "Comic Neue", cursive;
    --fuente-cuatro: "Oswald", sans-serif;
    --fuente-cinco: "Bebas Neue", sans-serif;
    --fuente-seis: "Delius", cursive;
    --fuente-siete: "Noto Sans Display", sans-serif;
    --icono-uno: url(/encriptador/recursos/icono-candado-cerrado.svg);
    --icono-dos: url(/encriptador/recursos/icono-candado-abierto.svg);
    --icono-tres: url(/encriptador/recursos/icono-letra.svg);
    --icono-cuatro: url(/encriptador/recursos/icono-simbolo-pregunta.svg);
    --icono-cinco: url(/encriptador/recursos/icono-simbolo-alerta.svg);
    --icono-seis: url(/encriptador/recursos/icono-campana.svg);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-tres);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.encabezado {
    align-items: center;
    display: flex;
    background-color: var(--color-uno);
    border-bottom: 0.5rem solid var(--color-cinco);
    border-bottom-right-radius: 2rem;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;
}

.encabezado-titulo {
    font-family: var(--fuente-siete);
    font-size: 2.5rem;
    font-weight: 900;
    padding-left: 1rem;
}

.intermedio {
    align-items: start;
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    height: auto;
    justify-content: center;
    padding: 1rem;
    width: auto;
}

.intermedio-bloque-encriptador {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 70%;
}

.intermedio-bloque-encriptador-entrada {
    border: 0.2rem solid var(--color-siete);
    border-radius: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    height: 90%;
    padding: 1rem;
    resize: none;
    width: 95%;
}

.intermedio-bloque-encriptador-aviso {
    font-family: var(--fuente-tres);
    font-size: 1rem;
    text-align: center;
}

.intermedio-bloque-encriptador-botones {
    display: flex;
    flex-grow: 1;
    gap: 3rem;
    height: auto;
    justify-content: space-between;
}

.intermedio-bloque-encriptador-boton-encriptar {
    background-color: var(--color-cuatro);
    border: 0.2rem solid var(--color-dos);
    border-radius: 2rem;
    color: var(--color-uno);
    font-family: var(--fuente-cinco);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 0.3rem 0.5rem;
    width: auto;
}

.intermedio-bloque-encriptador-boton-encriptar:hover {
    background-color: var(--color-cinco);
}

.intermedio-bloque-encriptador-boton-desencriptar {
    background-color: var(--color-tres);
    border: 0.2rem solid var(--color-dos);
    border-radius: 2rem;
    font-family: var(--fuente-cinco);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 0.3rem 0.5rem;
    width: auto;
}

.intermedio-bloque-encriptador-boton-desencriptar:hover {
    background-color: var(--color-seis);
    color: var(--color-uno);
}

.intermedio-bloque-encriptado {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 30%;
}

.intermedio-bloque-encriptado-texto {
    background-color: var(--color-uno);
    border: 0.2rem solid var(--color-siete);
    border-radius: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    height: 90%;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    width: 85%;
}

.intermedio-bloque-encriptado-texto::before {
    background: var(--icono-tres) no-repeat center center;
    background-size: 70%;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.intermedio-bloque-encriptado-boton {
    display: flex;
    flex-grow: 1;
    height: auto;
}

.intermedio-bloque-encriptado-boton-copiar {
    background-color: var(--color-cuatro);
    border: 0.2rem solid var(--color-dos);
    border-radius: 2rem;
    color: var(--color-uno);
    font-family: var(--fuente-cinco);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 0.3rem 0.5rem;
    width: auto;
}

.intermedio-bloque-encriptado-boton-copiar:hover {
    background-color: var(--color-cinco);
}

.pie-de-pagina {
    align-items: end;
    background-color: var(--color-dos);
    border-top: 0.5rem solid var(--color-cuatro);
    border-top-left-radius: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    padding: 0.5rem 2rem;
}

.pie-de-pagina-contacto {
    color: var(--color-uno);
    font-family: var(--fuente-seis);
    font-size: 0.7rem;
    text-align: right;
}

.pie-de-pagina-enlaces-redes {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.enlace-github {
    height: auto;
    width: 2rem;
}

.enlace-linkedin {
    height: auto;
    width: 2rem;
}

@media (max-width: 64rem)
/* Tablet */
    {
    .encabezado {
        border-bottom-right-radius: 5rem;
        padding: 0.5rem;
    }

    .encabezado-titulo {
        font-size: 3.5rem;
        padding-left: 3rem;
    }

    .intermedio {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .intermedio-bloque-encriptador {
        gap: 1rem;
        height: 60%;
        padding: 1rem;
        width: 100%;
    }

    .intermedio-bloque-encriptador-entrada {
        border: 0.3rem solid var(--color-siete);
        border-radius: 2rem;
        font-size: xx-large;
        height: 90%;
        width: 90%;
    }

    .intermedio-bloque-encriptador-aviso {
        font-size: 1.8rem;
    }

    .intermedio-bloque-encriptador-botones {
        display: flex;
        gap: 4rem;
    }

    .intermedio-bloque-encriptador-boton-encriptar {
        font-size: 2.3rem;
        padding: 0.3rem 0.8rem;
    }

    .intermedio-bloque-encriptador-boton-desencriptar {
        font-size: 2.3rem;
        padding: 0.3rem 0.8rem;
    }

    .intermedio-bloque-encriptado {
        gap: 1rem;
        height: 40%;
        width: 100%;
    }

    .intermedio-bloque-encriptado-texto {
        border: 0.3rem solid var(--color-siete);
        border-radius: 2rem;
        font-size: xx-large;
        height: 85%;
        width: 85%;
    }

    .intermedio-bloque-encriptado-texto::before {
        background-size: 30%;
    }

    .intermedio-bloque-encriptado-boton-copiar {
        font-size: 2.3rem;
        padding: 0.3rem 0.8rem;
    }

    .pie-de-pagina {
        border-top-left-radius: 5rem;
        padding: 1rem;
    }

    .pie-de-pagina-contacto {
        font-size: 1rem;
    }

    .enlace-github {
        height: auto;
        width: 3rem;
    }

    .enlace-linkedin {
        height: auto;
        width: 3rem;
    }
}

@media (max-width: 48rem)
/* Celular */
    {
    .encabezado {
        border-bottom-right-radius: 3rem;
        padding: 0.5rem;
    }

    .encabezado-titulo {
        font-size: 2.3rem;
        padding-left: 0.1rem;
    }

    .intermedio {
        padding: 0.5rem;
        gap: 1rem;
    }

    .intermedio-bloque-encriptador {
        gap: 0.3rem;
        height: 70%;
        width: 100%;
    }

    .intermedio-bloque-encriptador-entrada {
        border-radius: 1.5rem;
        font-size: x-large;
        height: 90%;
        width: 85%;
    }

    .intermedio-bloque-encriptador-aviso {
        font-size: 1rem;
    }

    .intermedio-bloque-encriptador-botones {
        gap: 1rem;
    }

    .intermedio-bloque-encriptador-boton-encriptar {
        font-size: 1.8rem;
    }

    .intermedio-bloque-encriptador-boton-desencriptar {
        font-size: 1.8rem;
    }

    .intermedio-bloque-encriptado {
        gap: 0.3rem;
        height: 30%;
        width: 100%;
    }

    .intermedio-bloque-encriptado-texto {
        border-radius: 1.5rem;
        font-size: larger;
        height: 85%;
        width: 85%;
    }

    .intermedio-bloque-encriptado-boton-copiar {
        font-size: 1.8rem;
        padding: 0.3rem 0.8rem;
    }

    .pie-de-pagina {
        border-top-left-radius: 3rem;
        padding: 0.5rem;
    }

    .pie-de-pagina-contacto {
        font-size: 0.8rem;
    }

    .enlace-github {
        height: auto;
        width: 2rem;
    }

    .enlace-linkedin {
        height: auto;
        width: 2rem;
    }
}